body {
	font-family: 'Tienne', serif;
	font-weight: 200;
	font-size: 16pt;
	background-color: #7FFFD4;
	color: #666
}

h1 {
	font-family: 'Tienne', serif;
	font-weight: 300;
	font-size: 20pt;
	color: #000000
}
